<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Weevil" Language="1033" Version="2.11.0" Manufacturer="Blue Dot Brigade" UpgradeCode="ee20260f-f191-4bfc-9c60-242a12e40079">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Manufacturer="Blue Dot Brigade" Description="Weevil" Comments="Weevil is a product of Blue Dot Brigade" Platform="x64" />

		<Property Id="ARPPRODUCTICON" Value="Weevil.ico" />
		<Property Id="ARPHELPLINK" Value="http://Weevil.BlueDotBrigade.com" />
		<Property Id="ARPCONTACT">Blue Dot Brigade</Property>
		<Property Id="ARPURLINFOABOUT">http://Weevil.BlueDotBrigade.com</Property>

		<MajorUpgrade DowngradeErrorMessage="A newer version of Weevil is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Weevil" Level="1">
			<ComponentGroupRef Id="RegistryKeys" />
			<ComponentGroupRef Id="weevil_bin_files" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="BlueDotBrigade" Name="BlueDotBrigade">
					<Directory Id="INSTALLFOLDER" Name="Weevil">
						<Directory Id="BinDir" Name="Bin" />
						<Directory Id="LicenseDir" Name="License" />
						<Directory Id="DocDir" Name="Doc" />
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<!--
			HKCU = HKEY_CURRENT_USER
			HKLM = HKEY_LOCAL_MACHINE
		-->
		<ComponentGroup Id="RegistryKeys" Directory="INSTALLFOLDER">
			<Component Id="RegistryComponent" Guid="BDB8AD0C-3284-4C23-8FFA-A41F7831F83E">
				<RegistryKey Root="HKCU" Key="Software\BlueDotBrigade\Weevil">
					<RegistryValue Type="string" Name="EnableBetaFeatures" Value="True" />
				</RegistryKey>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>