<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<DirectoryRef Id="InstallFolderBin">
			<Component Id="ScriptsPathComponent" Guid="BDB8AD0C-3284-4C23-8FFA-A41F7831F8BD">
				<Environment Id="ScriptsPathEntry" Name="PATH" Value="[InstallFolderBin]" Action="set" Part="last" System="yes" />
				<RegistryValue Root="HKLM" Key="Software\BlueDotBrigade\Weevil" Name="ScriptsPath" Type="string" Value="[InstallFolderBin]" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>