<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="TelemetryCredentialsComponents" Directory="INSTALLFOLDER">
			<Component Id="TelemetryUsernameEnabledComponent" Guid="1D8C66F0-8E03-4F06-B575-58254B6F35BE" Condition="WEEVIL_COLLECT_ANONYMOUS_METRICS = &quot;1&quot;">
				<Environment Id="WeevilTelemetryUsernameEnabledEnvironmentVariable"
					Name="WEEVIL_TELEMETRY_USERNAME"
					Value="weevil_telemetry_producer"
					Action="set"
					Part="all"
					System="yes" />
				<Environment Id="WeevilTelemetrySecretEnabledEnvironmentVariable"
					Name="WEEVIL_TELEMETRY_SECRET"
					Value="00000000-0000-0000-0000-000000000000"
					Action="set"
					Part="all"
					System="yes" />
			</Component>
			<Component Id="TelemetryUsernameDisabledComponent" Guid="8AFBB0A6-E049-4D07-91FB-E38A90CA7E92" Condition="WEEVIL_COLLECT_ANONYMOUS_METRICS &lt;&gt; &quot;1&quot;">
				<Environment Id="WeevilTelemetryUsernameDisabledEnvironmentVariable"
					Name="WEEVIL_TELEMETRY_USERNAME"
					Action="remove"
					Part="all"
					System="yes" />
				<Environment Id="WeevilTelemetrySecretDisabledEnvironmentVariable"
					Name="WEEVIL_TELEMETRY_SECRET"
					Action="remove"
					Part="all"
					System="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
