<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="InstallFolderBin">
            <Component Id="BlueDotBrigade.Weevil.Common.dll" Guid="{2E7B6B62-78A3-4B54-B448-2242C6211647}">
                <File Id="BlueDotBrigade.Weevil.Common.dll" KeyPath="yes" Source="$(var.SourceDirPath)\BlueDotBrigade.Weevil.Common.dll" />
            </Component>
            <Component Id="BlueDotBrigade.Weevil.Common.pdb" Guid="{B5D14101-C848-46FB-AB0F-F746A97C33CA}">
                <File Id="BlueDotBrigade.Weevil.Common.pdb" KeyPath="yes" Source="$(var.SourceDirPath)\BlueDotBrigade.Weevil.Common.pdb" />
            </Component>
            <Component Id="BlueDotBrigade.Weevil.Core.dll" Guid="{CBAF8F4C-1331-4284-8B49-6AB07EB9F52F}">
                <File Id="BlueDotBrigade.Weevil.Core.dll" KeyPath="yes" Source="$(var.SourceDirPath)\BlueDotBrigade.Weevil.Core.dll" />
            </Component>
            <Component Id="BlueDotBrigade.Weevil.Core.pdb" Guid="{9F996F1E-877A-49E2-9E09-6865F614644E}">
                <File Id="BlueDotBrigade.Weevil.Core.pdb" KeyPath="yes" Source="$(var.SourceDirPath)\BlueDotBrigade.Weevil.Core.pdb" />
            </Component>
            <Component Id="BlueDotBrigade.Weevil.Gui.deps.json" Guid="{68DAB471-D2E3-4624-BBA7-34226A02C0BC}">
                <File Id="BlueDotBrigade.Weevil.Gui.deps.json" KeyPath="yes" Source="$(var.SourceDirPath)\BlueDotBrigade.Weevil.Gui.deps.json" />
            </Component>
            <Component Id="BlueDotBrigade.Weevil.Gui.dll" Guid="{0E1D39F4-3692-43E0-8DB2-CB36D108ADE8}">
                <File Id="BlueDotBrigade.Weevil.Gui.dll" KeyPath="yes" Source="$(var.SourceDirPath)\BlueDotBrigade.Weevil.Gui.dll" />
            </Component>
            <Component Id="BlueDotBrigade.Weevil.Gui.dll.config" Guid="{76029F82-1C5C-433C-9B16-ACAAA1BC725E}">
                <File Id="BlueDotBrigade.Weevil.Gui.dll.config" KeyPath="yes" Source="$(var.SourceDirPath)\BlueDotBrigade.Weevil.Gui.dll.config" />
            </Component>
            <Component Id="BlueDotBrigade.Weevil.Gui.exe" Guid="{D99C124B-D2D5-4D31-87A8-8F624969D424}">
                <File Id="BlueDotBrigade.Weevil.Gui.exe" KeyPath="yes" Source="$(var.SourceDirPath)\BlueDotBrigade.Weevil.Gui.exe" />
            </Component>
            <Component Id="BlueDotBrigade.Weevil.Gui.pdb" Guid="{6EECA3D4-288D-4AAB-930D-4441D5D829D5}">
                <File Id="BlueDotBrigade.Weevil.Gui.pdb" KeyPath="yes" Source="$(var.SourceDirPath)\BlueDotBrigade.Weevil.Gui.pdb" />
            </Component>
            <Component Id="BlueDotBrigade.Weevil.Gui.pspdb" Guid="{2C9E93ED-CA82-4D94-A16E-59A39CFE9642}">
                <File Id="BlueDotBrigade.Weevil.Gui.pspdb" KeyPath="yes" Source="$(var.SourceDirPath)\BlueDotBrigade.Weevil.Gui.pspdb" />
            </Component>
            <Component Id="BlueDotBrigade.Weevil.Gui.pssym" Guid="{2AD00D7C-4CB5-4D99-9B6A-448602B0A4F8}">
                <File Id="BlueDotBrigade.Weevil.Gui.pssym" KeyPath="yes" Source="$(var.SourceDirPath)\BlueDotBrigade.Weevil.Gui.pssym" />
            </Component>
            <Component Id="BlueDotBrigade.Weevil.Gui.runtimeconfig.json" Guid="{2F46ACC0-F409-48BF-AB78-A5495420B34F}">
                <File Id="BlueDotBrigade.Weevil.Gui.runtimeconfig.json" KeyPath="yes" Source="$(var.SourceDirPath)\BlueDotBrigade.Weevil.Gui.runtimeconfig.json" />
            </Component>
            <Component Id="BlueDotBrigade.Weevil.Windows.dll" Guid="{FBFB2ABF-28E5-4563-BEAB-D958930E00B1}">
                <File Id="BlueDotBrigade.Weevil.Windows.dll" KeyPath="yes" Source="$(var.SourceDirPath)\BlueDotBrigade.Weevil.Windows.dll" />
            </Component>
            <Component Id="BlueDotBrigade.Weevil.Windows.pdb" Guid="{F1DC1E6B-3BE1-43C2-B767-271AF0D6F797}">
                <File Id="BlueDotBrigade.Weevil.Windows.pdb" KeyPath="yes" Source="$(var.SourceDirPath)\BlueDotBrigade.Weevil.Windows.pdb" />
            </Component>
            <Component Id="FluentValidation.dll" Guid="{385367B9-719E-454F-8DBD-006CBC5BB3D6}">
                <File Id="FluentValidation.dll" KeyPath="yes" Source="$(var.SourceDirPath)\FluentValidation.dll" />
            </Component>
            <Component Id="GongSolutions.WPF.DragDrop.dll" Guid="{93845BB4-093A-4EA3-8ECC-3FB6413FB674}">
                <File Id="GongSolutions.WPF.DragDrop.dll" KeyPath="yes" Source="$(var.SourceDirPath)\GongSolutions.WPF.DragDrop.dll" />
            </Component>
            <Component Id="HarfBuzzSharp.dll" Guid="{2ABAD2F7-95A0-4ED4-B4E7-874D3664FDF1}">
                <File Id="HarfBuzzSharp.dll" KeyPath="yes" Source="$(var.SourceDirPath)\HarfBuzzSharp.dll" />
            </Component>
            <Component Id="LiveChartsCore.dll" Guid="{B2242ACB-BF64-40E7-ABF7-50E58F8357F3}">
                <File Id="LiveChartsCore.dll" KeyPath="yes" Source="$(var.SourceDirPath)\LiveChartsCore.dll" />
            </Component>
            <Component Id="LiveChartsCore.SkiaSharpView.dll" Guid="{6D6EC38F-EDF5-44AE-9926-B926C122A052}">
                <File Id="LiveChartsCore.SkiaSharpView.dll" KeyPath="yes" Source="$(var.SourceDirPath)\LiveChartsCore.SkiaSharpView.dll" />
            </Component>
            <Component Id="LiveChartsCore.SkiaSharpView.WPF.dll" Guid="{64998CD0-B899-4AA5-AF07-53BCF52BDBFC}">
                <File Id="LiveChartsCore.SkiaSharpView.WPF.dll" KeyPath="yes" Source="$(var.SourceDirPath)\LiveChartsCore.SkiaSharpView.WPF.dll" />
            </Component>
            <Component Id="MaterialDesignColors.dll" Guid="{213DD3B3-E9E2-40D0-B205-BB88BD8062E4}">
                <File Id="MaterialDesignColors.dll" KeyPath="yes" Source="$(var.SourceDirPath)\MaterialDesignColors.dll" />
            </Component>
            <Component Id="MaterialDesignThemes.Wpf.dll" Guid="{D74AE84F-C33D-4260-B70C-C34BFA5B284F}">
                <File Id="MaterialDesignThemes.Wpf.dll" KeyPath="yes" Source="$(var.SourceDirPath)\MaterialDesignThemes.Wpf.dll" />
            </Component>
            <Component Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Guid="{255AB264-9E98-430A-ABFE-35A55F3627CB}">
                <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" KeyPath="yes" Source="$(var.SourceDirPath)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.dll" Guid="{CCB0CAD3-5A4D-4013-BD9B-1774ED543DAC}">
                <File Id="Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.SourceDirPath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="nlog.config" Guid="{54E0F4D7-3D35-43A8-85E7-7E6F5196428E}">
                <File Id="nlog.config" KeyPath="yes" Source="$(var.SourceDirPath)\nlog.config" />
            </Component>
            <Component Id="NLog.dll" Guid="{19184A2A-B57E-4828-9ECF-908CF806E5B1}">
                <File Id="NLog.dll" KeyPath="yes" Source="$(var.SourceDirPath)\NLog.dll" />
            </Component>
            <Component Id="PostSharp.dll" Guid="{46ABA76E-58EE-44EE-A1E3-DEA9EAEDF9AE}">
                <File Id="PostSharp.dll" KeyPath="yes" Source="$(var.SourceDirPath)\PostSharp.dll" />
            </Component>
            <Component Id="PostSharp.Patterns.Aggregation.dll" Guid="{D9B615F2-84AC-41DB-9BE7-82424E07616C}">
                <File Id="PostSharp.Patterns.Aggregation.dll" KeyPath="yes" Source="$(var.SourceDirPath)\PostSharp.Patterns.Aggregation.dll" />
            </Component>
            <Component Id="PostSharp.Patterns.Common.dll" Guid="{51DE89AF-8BB1-446A-88C4-C5E7326C58AB}">
                <File Id="PostSharp.Patterns.Common.dll" KeyPath="yes" Source="$(var.SourceDirPath)\PostSharp.Patterns.Common.dll" />
            </Component>
            <Component Id="PostSharp.Patterns.Model.dll" Guid="{76FBA99A-C4B3-4F8E-9CAB-CF8E9F298CBA}">
                <File Id="PostSharp.Patterns.Model.dll" KeyPath="yes" Source="$(var.SourceDirPath)\PostSharp.Patterns.Model.dll" />
            </Component>
            <Component Id="Prism.Container.Abstractions.dll" Guid="{85AD79E7-A97C-4403-BE8A-C63D24559C4A}">
                <File Id="Prism.Container.Abstractions.dll" KeyPath="yes" Source="$(var.SourceDirPath)\Prism.Container.Abstractions.dll" />
            </Component>
            <Component Id="Prism.dll" Guid="{DE3B362B-1C50-467E-A9C3-DD54A9CBCE7B}">
                <File Id="Prism.dll" KeyPath="yes" Source="$(var.SourceDirPath)\Prism.dll" />
            </Component>
            <Component Id="Prism.Events.dll" Guid="{54CB370B-92D8-404C-BE6D-0A6F7A8041A3}">
                <File Id="Prism.Events.dll" KeyPath="yes" Source="$(var.SourceDirPath)\Prism.Events.dll" />
            </Component>
            <Component Id="SkiaSharp.dll" Guid="{CC5938EF-8809-4FD9-830C-AE817C0A9EDA}">
                <File Id="SkiaSharp.dll" KeyPath="yes" Source="$(var.SourceDirPath)\SkiaSharp.dll" />
            </Component>
            <Component Id="SkiaSharp.HarfBuzz.dll" Guid="{1E844EA5-59DE-496C-9AFF-CF494B9BB00D}">
                <File Id="SkiaSharp.HarfBuzz.dll" KeyPath="yes" Source="$(var.SourceDirPath)\SkiaSharp.HarfBuzz.dll" />
            </Component>
            <Component Id="SkiaSharp.Views.Desktop.Common.dll" Guid="{D43AB33F-BC39-43CC-9DB3-E140BBEEB97C}">
                <File Id="SkiaSharp.Views.Desktop.Common.dll" KeyPath="yes" Source="$(var.SourceDirPath)\SkiaSharp.Views.Desktop.Common.dll" />
            </Component>
            <Component Id="SkiaSharp.Views.WPF.dll" Guid="{56AE8871-2BA8-493F-A854-79211FF421CB}">
                <File Id="SkiaSharp.Views.WPF.dll" KeyPath="yes" Source="$(var.SourceDirPath)\SkiaSharp.Views.WPF.dll" />
            </Component>
            <Component Id="System.ComponentModel.Composition.dll" Guid="{D4F6C873-BC23-4682-8E0E-6923F7CF990F}">
                <File Id="System.ComponentModel.Composition.dll" KeyPath="yes" Source="$(var.SourceDirPath)\System.ComponentModel.Composition.dll" />
            </Component>
            <Component Id="System.Management.dll" Guid="{535E8506-DBB8-4FE1-885C-3AEABEDD281C}">
                <File Id="System.Management.dll" KeyPath="yes" Source="$(var.SourceDirPath)\System.Management.dll" />
            </Component>
            <Directory Id="Plugins" Name="Plugins">
                <Component Id="BlueDotBrigade.Weevil.Plugins.csproj" Guid="{8670159E-53C8-4A4A-9D3B-7FCC08EC51DE}">
                    <File Id="BlueDotBrigade.Weevil.Plugins.csproj" KeyPath="yes" Source="$(var.SourceDirPath)\Plugins\BlueDotBrigade.Weevil.Plugins.csproj" />
                </Component>
                <Component Id="ProfoundMedical.Weevil_TulsaPro.dll" Guid="{7546278B-C684-47D4-95C9-B3A0ADA4A301}">
                    <File Id="ProfoundMedical.Weevil_TulsaPro.dll" KeyPath="yes" Source="$(var.SourceDirPath)\Plugins\ProfoundMedical.Weevil-TulsaPro.dll" />
                </Component>
                <Component Id="ProfoundMedical.Weevil_TulsaPro.dll.config" Guid="{A513644D-69DD-49FC-BD53-E757853362B7}">
                    <File Id="ProfoundMedical.Weevil_TulsaPro.dll.config" KeyPath="yes" Source="$(var.SourceDirPath)\Plugins\ProfoundMedical.Weevil-TulsaPro.dll.config" />
                </Component>
                <Component Id="ProfoundMedical.Weevil_TulsaPro.pdb" Guid="{0CE84536-49F6-4E3F-8110-6D061D2BC33C}">
                    <File Id="ProfoundMedical.Weevil_TulsaPro.pdb" KeyPath="yes" Source="$(var.SourceDirPath)\Plugins\ProfoundMedical.Weevil-TulsaPro.pdb" />
                </Component>
                <Component Id="ReadMe.md" Guid="{7A6E3D63-3694-448A-9EDA-9538CF46B100}">
                    <File Id="ReadMe.md" KeyPath="yes" Source="$(var.SourceDirPath)\Plugins\ReadMe.md" />
                </Component>
            </Directory>
            <Directory Id="runtimes" Name="runtimes">
                <Directory Id="osx" Name="osx">
                    <Directory Id="native" Name="native">
                        <Component Id="libHarfBuzzSharp.dylib" Guid="{74F69E97-055B-47A7-A1BF-C055800C5EA9}">
                            <File Id="libHarfBuzzSharp.dylib" KeyPath="yes" Source="$(var.SourceDirPath)\runtimes\osx\native\libHarfBuzzSharp.dylib" />
                        </Component>
                        <Component Id="libSkiaSharp.dylib" Guid="{8B34AC66-7E79-4697-B7AF-D92BACF5B57C}">
                            <File Id="libSkiaSharp.dylib" KeyPath="yes" Source="$(var.SourceDirPath)\runtimes\osx\native\libSkiaSharp.dylib" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="win" Name="win">
                    <Directory Id="lib" Name="lib">
                        <Directory Id="net9.0" Name="net9.0">
                            <Component Id="System.Management.dll_1" Guid="{94315CAE-BA60-46A1-BF96-3C89A6BCA33A}">
                                <File Id="System.Management.dll_1" KeyPath="yes" Source="$(var.SourceDirPath)\runtimes\win\lib\net9.0\System.Management.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="win_arm64" Name="win-arm64">
                    <Directory Id="native_1" Name="native">
                        <Component Id="libHarfBuzzSharp.dll" Guid="{8838A0A9-37B5-4B7C-831A-3F7CF89DB1E5}">
                            <File Id="libHarfBuzzSharp.dll" KeyPath="yes" Source="$(var.SourceDirPath)\runtimes\win-arm64\native\libHarfBuzzSharp.dll" />
                        </Component>
                        <Component Id="libSkiaSharp.dll" Guid="{E80F3294-DDA9-4E6D-9E75-BDFC130CA6C9}">
                            <File Id="libSkiaSharp.dll" KeyPath="yes" Source="$(var.SourceDirPath)\runtimes\win-arm64\native\libSkiaSharp.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="win_x64" Name="win-x64">
                    <Directory Id="native_2" Name="native">
                        <Component Id="libHarfBuzzSharp.dll_1" Guid="{CD11599B-EC96-4725-9F11-E396C9537DC5}">
                            <File Id="libHarfBuzzSharp.dll_1" KeyPath="yes" Source="$(var.SourceDirPath)\runtimes\win-x64\native\libHarfBuzzSharp.dll" />
                        </Component>
                        <Component Id="libSkiaSharp.dll_1" Guid="{19E94F31-80F4-43F5-8675-D5935C74896F}">
                            <File Id="libSkiaSharp.dll_1" KeyPath="yes" Source="$(var.SourceDirPath)\runtimes\win-x64\native\libSkiaSharp.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="win_x86" Name="win-x86">
                    <Directory Id="native_3" Name="native">
                        <Component Id="libHarfBuzzSharp.dll_2" Guid="{37318E41-54FD-41D7-A5CC-3AFDADC1FE94}">
                            <File Id="libHarfBuzzSharp.dll_2" KeyPath="yes" Source="$(var.SourceDirPath)\runtimes\win-x86\native\libHarfBuzzSharp.dll" />
                        </Component>
                        <Component Id="libSkiaSharp.dll_2" Guid="{26FB8196-7D27-4ECE-B15D-56C5C34AB9A7}">
                            <File Id="libSkiaSharp.dll_2" KeyPath="yes" Source="$(var.SourceDirPath)\runtimes\win-x86\native\libSkiaSharp.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="weevil_bin_files">
            <ComponentRef Id="BlueDotBrigade.Weevil.Common.dll" />
            <ComponentRef Id="BlueDotBrigade.Weevil.Common.pdb" />
            <ComponentRef Id="BlueDotBrigade.Weevil.Core.dll" />
            <ComponentRef Id="BlueDotBrigade.Weevil.Core.pdb" />
            <ComponentRef Id="BlueDotBrigade.Weevil.Gui.deps.json" />
            <ComponentRef Id="BlueDotBrigade.Weevil.Gui.dll" />
            <ComponentRef Id="BlueDotBrigade.Weevil.Gui.dll.config" />
            <ComponentRef Id="BlueDotBrigade.Weevil.Gui.exe" />
            <ComponentRef Id="BlueDotBrigade.Weevil.Gui.pdb" />
            <ComponentRef Id="BlueDotBrigade.Weevil.Gui.pspdb" />
            <ComponentRef Id="BlueDotBrigade.Weevil.Gui.pssym" />
            <ComponentRef Id="BlueDotBrigade.Weevil.Gui.runtimeconfig.json" />
            <ComponentRef Id="BlueDotBrigade.Weevil.Windows.dll" />
            <ComponentRef Id="BlueDotBrigade.Weevil.Windows.pdb" />
            <ComponentRef Id="FluentValidation.dll" />
            <ComponentRef Id="GongSolutions.WPF.DragDrop.dll" />
            <ComponentRef Id="HarfBuzzSharp.dll" />
            <ComponentRef Id="LiveChartsCore.dll" />
            <ComponentRef Id="LiveChartsCore.SkiaSharpView.dll" />
            <ComponentRef Id="LiveChartsCore.SkiaSharpView.WPF.dll" />
            <ComponentRef Id="MaterialDesignColors.dll" />
            <ComponentRef Id="MaterialDesignThemes.Wpf.dll" />
            <ComponentRef Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            <ComponentRef Id="Newtonsoft.Json.dll" />
            <ComponentRef Id="nlog.config" />
            <ComponentRef Id="NLog.dll" />
            <ComponentRef Id="PostSharp.dll" />
            <ComponentRef Id="PostSharp.Patterns.Aggregation.dll" />
            <ComponentRef Id="PostSharp.Patterns.Common.dll" />
            <ComponentRef Id="PostSharp.Patterns.Model.dll" />
            <ComponentRef Id="Prism.Container.Abstractions.dll" />
            <ComponentRef Id="Prism.dll" />
            <ComponentRef Id="Prism.Events.dll" />
            <ComponentRef Id="SkiaSharp.dll" />
            <ComponentRef Id="SkiaSharp.HarfBuzz.dll" />
            <ComponentRef Id="SkiaSharp.Views.Desktop.Common.dll" />
            <ComponentRef Id="SkiaSharp.Views.WPF.dll" />
            <ComponentRef Id="System.ComponentModel.Composition.dll" />
            <ComponentRef Id="System.Management.dll" />
            <ComponentRef Id="BlueDotBrigade.Weevil.Plugins.csproj" />
            <ComponentRef Id="ProfoundMedical.Weevil_TulsaPro.dll" />
            <ComponentRef Id="ProfoundMedical.Weevil_TulsaPro.dll.config" />
            <ComponentRef Id="ProfoundMedical.Weevil_TulsaPro.pdb" />
            <ComponentRef Id="ReadMe.md" />
            <ComponentRef Id="libHarfBuzzSharp.dylib" />
            <ComponentRef Id="libSkiaSharp.dylib" />
            <ComponentRef Id="System.Management.dll_1" />
            <ComponentRef Id="libHarfBuzzSharp.dll" />
            <ComponentRef Id="libSkiaSharp.dll" />
            <ComponentRef Id="libHarfBuzzSharp.dll_1" />
            <ComponentRef Id="libSkiaSharp.dll_1" />
            <ComponentRef Id="libHarfBuzzSharp.dll_2" />
            <ComponentRef Id="libSkiaSharp.dll_2" />
        </ComponentGroup>
    </Fragment>
</Wix>