<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.postsharp.org/1.0/configuration">
	<License Value="112555-ZUC58QQQXTQEQEQCB88YNBFRY2EWB4HRS69BXNDWSESWWNHVS2GLXMDEB4MVNTGRS64VHBHRN4MUXSQSY85L84NJGVENUGDBR9T9P3S78ZSRX74SBE9X9EVUAYTXFXC4UR2H3GWPL3W8PQEM4QQWAGJZ6EQCGQKP"/>
</Project>