<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.postsharp.org/1.0/configuration">
	<License Value="111953-ZEYC8QQQXTQEQEQCB88YNBFRY2EWB4HRS69BXNDWSESWWNHVS2GLXMDEB4MVNTGRS64VHBHRN4MUXSQSWCTHGH2BTS4ACHYBWZ33EAHKQZVVC2L8V63M82WNWG4JE7X4TV8NMPUN8TW6VSET4QQWGN6Z6EQCGQKP"/>
</Project>