<?xml version="1.0" encoding="utf-8"?>

<!-- Your local configuration file should be based on this template. -->
<!-- If your local file is missing, simply build the project. -->
<configuration>
</configuration>